#linkpaste {
  min-width: 95%;
  font-family: Courier;
  font-size: 0.9em;
  background: #f7f7f7;
  margin: 0.5em auto;
  padding: 1em 1em 1em;
  border: 1px solid rgb(141, 3, 255);
}

body {
  background: url(./img/bg.svg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  /* top: 2px; */
  height: 100%;
}

label {
  font-family: Georgia;
  font-size: 1.5em;
}
.hidden {
  overflow-x: hidden;
}
.block {
  padding-top: 2em;
  margin-bottom: 1em;
}
iframe {
  height: 350px;
}

@media (max-width: 797px) {
  iframe {
    height: 250px;
  }
}
